# مجلدات النظام والبيئة
.DS_Store
Thumbs.db
.vscode/
.env

# مجلد node_modules (تقيل ومش لازم في Git)
node_modules/

# ملفات البناء الناتجة
dist/
build/

# ملفات CSS الناتجة من SCSS
*.css
*.css.map

# ملفات التثبيت التلقائي
package-lock.json
